<%- include('../partials/header.ejs') %>
<h1>Registration</h1>
<form method="POST" action="/auth/registration">
    <label>Email</label>
    <%- include('../partials/error.ejs', { errors: errors, attribute: 'email'}) %>
    <input type="email" name="email" value="<%= email %>" /><br />
    <label>Password</label>
    <%- include('../partials/error.ejs', { errors: errors, attribute: 'password'}) %>
    <input type="password" name="password" /><br />
    <label>Same password again</label>
    <%- include('../partials/error.ejs', { errors: errors, attribute: 'verification'}) %>
    <input type="password" name="verification" /><br />
    <input type="submit" value="Submit!" />
</form>
<%- include('../partials/footer.ejs') %>
