<%- include('../partials/header.ejs') %>
<h1>Weekly summary</h1>

<form method="post">
  <label>Week: </label>
  <input type="week" name="week" value="<%= initialWeek %>" />
  <input type="submit" value="Get summary" />
</form>

<% if (weekSummary) { %>
  <p>Average sleep duration: <%= weekSummary.avgSleepDuration.toFixed(2) %></p>
  <p>Average time spent on sports and exercise: <%= weekSummary.avgSportDuration.toFixed(2) %></p>
  <p>Average time spent studying: <%= weekSummary.avgStudyDuration.toFixed(2) %></p>
  <p>Average sleep quality: <%= weekSummary.avgSleepQuality.toFixed(2) %></p>
  <p>Average generic mood: <%= weekSummary.avgMood.toFixed(2) %></p>
<% } else { %>
  <p>No data exists for the given week</p>
<% } %>

<h1>Monthly summary</h1>

<form method="post">
  <label>Month: </label>
  <input type="month" name="month" value="<%= initialMonth %>" />
  <input type="submit" value="Get summary" />
</form>

<% if (monthSummary) { %>

  <p>Average sleep duration: <%= monthSummary.avgSleepDuration.toFixed(2) %></p>
  <p>Average time spent on sports and exercise: <%= monthSummary.avgSportDuration.toFixed(2) %></p>
  <p>Average time spent studying: <%= monthSummary.avgStudyDuration.toFixed(2) %></p>
  <p>Average sleep quality: <%= monthSummary.avgSleepQuality.toFixed(2) %></p>
  <p>Average generic mood: <%= monthSummary.avgMood.toFixed(2) %></p>

<% } else { %>
  <p>No data exists for the given month</p>
<% } %>
<%- include('../partials/footer.ejs') %>
